.movies {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
}

@media only screen and (max-width: 768px) {
  .movies {
    
  }
}

@media only screen and (max-width: 320px) {
  .movies {
  }
}
