.search-form__container {
  margin: 0 auto;
  margin-left: 70px;
  padding-top: 80px;
  display: flex;
  flex-direction: row;

  input {
    width: 1060px;
    height: 46px;
    border: none;
    background-color: #f9f9f9;
    border-radius: 4px;
    margin-right: 10px;
  }

  input:focus {
    outline: none;
  }

  input::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);

    color: #a0a0a0;
  }
  button {
    width: 70px;
    height: 48px;
    background-color: #000000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    border-radius: 4px;
    text-align: center;
    color: #ffffff;
  }
}

@media only screen and (max-width: 768px) {
  .search-form__container {
    max-width: 768px;
    margin: 0 auto;
    padding-top: 54px;

    input {
      max-width: 628px;
      margin-left: 30px;
    }

    input:focus {
    }

    input::placeholder {
    }
    button {
      max-width: 70px;
    }
  }
}

@media only screen and (max-width: 320px) {
  .search-form__container {
    margin: 25px auto 0;

    input {
      max-width: 212px;
      margin: 0;
      margin-left: 14px;
      margin-right: 10px;
    }

    input:focus {
    }

    input::placeholder {
    }
    button {
      width: 70px;
    }
  }
}
