.register {
  background-color: #ffffff;
  margin: 0 auto;
  max-width: 1280px;
  padding-top: 70px;
  height: 700px;
}

.register__container {
  width: 396px;
  margin: 0 auto;
}

.register__circle {
}

.register__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 40px;
  margin-bottom: 40px;
}

.register__input-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
}

.register__input {
  width: 381px;
  height: 46px;
  background: #f9f9f9;
  border: none;
  outline: none;
  border-radius: 8px;
  margin-bottom: 10px;
  padding-left: 15px;
}

.register__input-last {
  margin-bottom: 10px;
}

.register__input:focus {
  border: 2px solid rgba(0, 153, 255, 0.493);
}

.register__input-container {
  
}

.register__input-container:last-of-type {
  margin-top: 0px;
}

.register__button-login {
  width: 396px;
  height: 46px;
  margin-top: 160px;
  background-color: #000000;
  border: none;
  outline: none;
  border-radius: 3px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}

.register__button-register {
  width: 396px;
  height: 46px;
  margin-top: 50px;
  background-color: #000000;
  border: none;
  outline: none;
  border-radius: 3px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}

.register__form-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    margin-right: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #a0a0a0;
  }

  a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    text-decoration: none;
  }
}

.register__error {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #ff4062;
}

@media only screen and (max-width: 768px) {
  .register {
    padding-top: 232px;
    max-width: 768px;
  }

  .register__button-login {
    
    margin-top: 165px;
  }
  
  .register__button-register {
  
    margin-top: 60px;
   
  }

  .register__input-container {
    margin-top: 1px;
  }

  .register__input {
  }

  .register__form {
    margin-top: 35px;
  }

  .register__input {
    margin-bottom: 7px;
  }

  .register__button {
    margin-top: 65px;
  }
}

@media only screen and (max-width: 320px) {
  .register {
    padding-top: 56px;
    max-width: 320px;
  }

  .register__container {
    max-width: 320px;
    display: flex;
    flex-direction: column;

    img {
      width: 38px;
      margin: 0 auto;
    }
  }

  .register__title {
    font-size: 24px;
    line-height: 29px;
    margin-top: 50px;
    margin-bottom: 70px;
    text-align: center;
  }

  .register__input-container {
    max-width: 260px;
  }
  .register__input {
    max-width: 260px;
  }
  .register__button {
    max-width: 260px;
    margin-top: 150px;
  }

  .register__button-login {
    max-width: 260px;
    margin-top: 258px;
  }
  
  .register__button-register {
    max-width: 260px;
    margin-top: 155px;
   
  }

  .register__form {
    max-width: 260px;
    margin: 0 auto;
  }

  .register__form-footer {
    margin-top: 5px;
    p {
      font-size: 12px;
      line-height: 15px;
    }

    a {
      font-size: 12px;
      line-height: 15px;
    }
  }
}
