.aboutme {
  margin: 0px auto;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.aboutme__about {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #000000;
  padding-bottom: 23px;
  border-bottom: 1px solid #000;
  max-width: 1140px;
  margin-top: 100px;
  margin-left: 70px;
}

.aboutme__info {
  max-width: 1140px;
  margin-left: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.aboutme__container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.aboutme__name {
  margin: 0;
  margin-top: 66px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  margin-top: 66px;

  letter-spacing: -0.04em;

  color: #000000;
}

.aboutme__title {
  margin: 0;
  margin-top: 18px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */

  color: #000000;

  mix-blend-mode: normal;
}

.aboutme__subtitle {
  margin: 0;
  margin-top: 26px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */

  color: #000000;

  mix-blend-mode: normal;
}

.aboutme__link {
  margin: 0;
  margin-top: 99px;
  margin-bottom: 101px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #000000;
}

.aboutme__image {
  max-width: 270px;
  margin: 0;
  margin-top: 66px;
}

@media only screen and (max-width: 768px) {
  .aboutme__about {
    max-width: 668px;
    margin-left: 50px;
    margin-top: 80px;
  }
  .aboutme__name {
    font-size: 40px;
    line-height: 40px;
    margin-top: 50px;
  }
  .aboutme__title {
    font-size: 12px;
    line-height: 18px;
  }

  .aboutme__subtitle {
    margin-top: 20px;
    margin-right: 49px;
    font-size: 12px;
    line-height: 18px;
    max-width: 364px;
  }
  .aboutme__image {
    max-width: 255px;
    margin: 0;
    margin-right: 50px;
    margin-top: 66px;
    align-self: start;
  }

  .aboutme__info {
    margin-left: 50px;
  }

  .aboutme__link {
    margin-bottom: 91px;
    margin-top: 80px;
  }
}

@media only screen and (max-width: 456px) {
  .aboutme__info {
    margin: 0 auto;
    flex-direction: column;
    max-width: 292px;
  }

  .aboutme__about {
    max-width: 284px;
    margin-left: 18px;
    margin-top: 70px;
    margin-bottom: 0;
  }

  .aboutme__name {
    margin-top: 40px;
    font-size: 30px;
    line-height: 36px;
  }

  .aboutme__title {
    font-size: 11px;
    line-height: 16px;
  }

  .aboutme__subtitle {
    font-size: 11px;
    line-height: 16px;
  }

  .aboutme__image {
    align-self: auto;
    order: 1;
    min-width: 292px;
    margin-right: 20px;
  }

  .aboutme__container {
    order: 2;
  }

  .aboutme__link {
    margin-bottom: 91px;
    margin-top: 40px;
    font-size: 14px;
    line-height: 17px;
  }
}

@media only screen and (max-width: 320px) {
  .aboutme__about {
    margin-top: 135px;
    padding-bottom: 30px;
    margin-left: 10px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.04em;
  }

  .aboutme__name {
    margin-top: 30px;
    font-size: 30px;
    line-height: 36px;
  }

  .aboutme__link {
    margin-bottom: 65px;
    margin-top: 10px;
    font-size: 14px;
    line-height: 17px;
  }
}
